{
    "updated": "2018-07-18T16:37:10Z",
    "description": "agregando descripcion",
    "roles": [],
    "created": "2018-07-17T14:54:45Z",
    "name": "Desarrollador",
    "parentId": "6cbcc800-0a14-4689-8496-9135795ef9e2",
    "slug": "developer",
    "id": "ccb77f8d-9c44-402a-901e-b63a901fa0ab"
}