{
    "updated": null,
    "description": null,
    "roles": [],
    "created": "2018-07-18T16:26:27Z",
    "name": "prueba",
    "parentId": null,
    "slug": "prueba",
    "id": "65eec85a-7e1f-4cb1-99b8-2df2371ffd87"
}