{
    "username": "admin",
    "status": "validated",
    "updated": "2018-07-18T11:08:15Z",
    "endDate": null,
    "positionId": "bf772968-55dc-41d7-9cc2-34d73ddd543f",
    "firstName": "Administrador",
    "startDate": null,
    "loginAttempts": 0,
    "lastName": "Backoffice",
    "created": "2018-07-17T14:54:46Z",
    "id": "af3f7694-7e7e-4b24-b5e3-31bfa5e91cd8",
    "phone": null,
    "lastLogin": "2017-12-28T11:13:50Z",
    "email": "admin@rcp.pe",
    "blocked": false
}