{
    "username": "brayanlp",
    "status": "invalidated",
    "updated": "2018-07-18T12:30:06Z",
    "endDate": null,
    "positionId": null,
    "firstName": "brayan",
    "startDate": null,
    "loginAttempts": null,
    "lastName": "lp",
    "created": "2018-07-18T12:25:58Z",
    "id": "37aca9f2-614d-4cd8-a465-6c599b78be00",
    "phone": "987654321",
    "lastLogin": null,
    "email": "blaureano@rcp.pe",
    "blocked": false
}