{
    "results": [
        {
            "username": "cyacarini",
            "status": "validated",
            "updated": "2017-12-13T20:11:34Z",
            "endDate": null,
            "positionId": "bf772968-55dc-41d7-9cc2-34d73ddd543f",
            "firstName": "Claudio",
            "startDate": null,
            "loginAttempts": 0,
            "lastName": "Yacarini",
            "created": "2018-07-17T14:54:46Z",
            "id": "f6bd276e-bdea-4a04-a605-c1932d8d7419",
            "phone": "12345678",
            "lastLogin": "2017-12-13T20:11:34Z",
            "email": "cyacarini@rcp.pe",
            "blocked": false
        },
        {
            "username": "admin",
            "status": "validated",
            "updated": "2018-07-18T11:39:56Z",
            "endDate": null,
            "positionId": "bf772968-55dc-41d7-9cc2-34d73ddd543f",
            "firstName": "Administrador",
            "startDate": null,
            "loginAttempts": 0,
            "lastName": "Backoffice",
            "created": "2018-07-17T14:54:46Z",
            "id": "af3f7694-7e7e-4b24-b5e3-31bfa5e91cd8",
            "phone": null,
            "lastLogin": "2018-07-18T11:39:56Z",
            "email": "admin@rcp.pe",
            "blocked": false
        },
        {
            "username": "kdelacruz",
            "status": "validated",
            "updated": "2017-12-27T18:11:29Z",
            "endDate": null,
            "positionId": "20264b51-0142-4164-b687-fd7f4586fe78",
            "firstName": "Katherine",
            "startDate": null,
            "loginAttempts": 0,
            "lastName": "De La Cruz",
            "created": "2018-07-17T14:54:46Z",
            "id": "dfe78f5a-9b92-4231-b1f9-a8caee36ff8e",
            "phone": "954865425",
            "lastLogin": "2017-12-27T18:11:29Z",
            "email": "katherine.delacruz8@gmail.com",
            "blocked": false
        },
        {
            "username": "abarrantes",
            "status": "validated",
            "updated": "2017-12-20T17:18:29Z",
            "endDate": null,
            "positionId": null,
            "firstName": "Angie Fiorella",
            "startDate": null,
            "loginAttempts": 0,
            "lastName": "Barrantes",
            "created": "2017-08-29T11:13:44Z",
            "id": "b9581b1f-4cb7-4bd0-b153-e245d0501a7d",
            "phone": null,
            "lastLogin": "2017-12-20T17:08:02Z",
            "email": "abarrantes@rcp.pe",
            "blocked": false
        },
        {
            "username": "jtorresc",
            "status": "validated",
            "updated": "2017-12-21T08:55:54Z",
            "endDate": null,
            "positionId": "ccb77f8d-9c44-402a-901e-b63a901fa0ab",
            "firstName": "Jorge",
            "startDate": null,
            "loginAttempts": 0,
            "lastName": "Torres",
            "created": "2017-08-29T09:50:06Z",
            "id": "b893b2d5-efcb-4ae8-b55c-55b2e807106d",
            "phone": "12345678",
            "lastLogin": "2017-12-21T08:55:54Z",
            "email": "jtorresc@rcp.pe",
            "blocked": false
        }
    ],
    "metadata": {
        "count": 5,
        "limit": 10,
        "offset": 0
    }
}