{
    "updated": null,
    "description": "Prueba",
    "name": "Prueba",
    "created": "2018-07-18T10:00:20Z",
    "id": "44526fc9-0515-4ae2-a31b-41c0fca2384e",
    "slug": "prueba",
    "permissions": []
}