{
    "updated": "2018-07-18T10:01:48Z",
    "description": "Prueba2",
    "name": "Prueba2",
    "created": "2018-07-18T10:00:20Z",
    "id": "44526fc9-0515-4ae2-a31b-41c0fca2384e",
    "slug": "prueba2",
    "permissions": []
}